@use "var";
@use "mixins";

.img-logo{
    max-width: 100%;
    width: 35px;
}

header{
    background-color: var.$bg-gris;
    padding: 2px 4px;
}

.nav-link{
    color: var.$blanco;
    font-family: var.$family-parrafo;
    font-size: var.$size5;
}

.carousel-item{
    
    & img{
        height: 700px;
    }

    @media screen and (max-width: 768px) {
        & img{
            height: 400px;
        }
    }
    @media screen and (max-width: 576px) {
        & img{
            height: 250px;
        }
    }
}


.hero-modal{
    background-color: rgba($color: #000000, $alpha: .6);
    top: 200px;
    left: 25%;
    width: 50%;
    padding: 10px 20px;

    & h1{
        font-family: var.$family-titulo;
        font-size: var.$size1;
    }
    & p{
        font-family: var.$family-parrafo;
        font-size: var.$size6;
    }

    @media screen and (max-width: 768px) {
        top: 50px;
        width: 75%;
        left: 13%;

        & h1{
            font-size: var.$size2;
        }
    }
    @media screen and (max-width: 576px) {
        width: 95%;
        left: 2.5%;

        & h1{
            font-size: var.$size3;
        }
    }
}