
$bg-gris: #3E4E50;
$azul-claro: #6D9DC5;
$azul-oscuro: #1B4F72;
$blanco: #ffffff;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');

$family-parrafo: "Roboto Serif", serif;
$family-titulo: "Aclonica", sans-serif;

$size1: 28px;
$size2: 24px;
$size3: 20px;
$size4: 18px;
$size5: 16px;
$size6: 14px;
$size7: 12px;