@use "hero";
@use "var";
@use "sections";

*,*::after,*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
}

html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

h2,h3,h4{
    font-family: var.$family-titulo;
    
}

h2{
    font-size: var.$size2;
}
h3{
    font-size: var.$size3;
}
h4{
    font-size: var.$size5;
}

p{
    font-family: var.$family-parrafo;
    font-size: var.$size5;
}